<div class="background homepage">
  <%= image_tag "Logo.png", class: "homepage-items" %>
  <h1 class="title homepage-items">PARTICPANTS PRENEZ PLACE</h1>
  <%= link_to "JOUER", new_ppt_path, class: "button-principal" %>
</div>
