<h1>Cul Sec</h1>
<p>vidéo twerk / culs sec qui arrive</p>
<%= image_tag "bar.jpg" %>
<%= link_to "rules", d_number_ppt_path %>
<% if @ppt.photo.attached?  %>
  <%= cl_image_tag @ppt.photo.key, class: "photo_user" %>
<% else %>
  <%= image_tag "Logo.png", class: "photo_user" %>
<% end %>

