<h1>challenge sportif</h1>
<%= cl_image_tag @ppt.photo.key, class: "photo_user" %>
<h3>musique rocky</h3>

<h2>même page deux slides</h2>
<h2>defis 2</h2>
<h2>bring sally up</h2>

<h2>Defis 3</h2>
<h2>Gainage Festif</h2>
<h2>bring sally up</h2>
<%= @ppt.teamone.point %>

<%= link_to "rules", g_rap_contenders_ppt_path %>
