<h1>Roulette russe</h1>
<%= cl_image_tag @ppt.photo.key %>
<h3>Boire le verre et mentir à son adversaire pour qu’il ne devine pas son contenu
Si ton adversaire gagne boit un cul sec
Sinon 1 pts pour ton équipe
Et bien sur on le fait deux fois !
</h3>
<%= link_to "m_millionaire", m_millionaire_ppt_path %>
