<h1>rally chanson</h1>
<h3>A la première tape sur la tête, je chante
A la deuxième tape sur la tête, j’arrête Pas plus de 3 secondes
pour trouver une chanson
</h3>
<%= link_to "end", s_end_ppt_path %>
