<% if @ppt.photo.attached?  %>
  <%= cl_image_tag @ppt.photo.key, class: "rules-photos" %>
<% else %>
  <%= image_tag "Logo.png", class: "photo_user" %>
<% end %>
<h3>Celui qui nous casse les couilles = un cul sec, Un bide = un cul sec
Visite au toilette => une galipette
À CHAQUE apparition de cette photo 2pt pour la team qui hurle en premier« Pirate ».
Bon esprit: 1 points bonus
Mauvais esprit: 1 points en moins
Corruption de l’arbitre autoriser si bien faite
L’arbitre compte les points</h3>
<%= link_to "rules", kick_off_ppt_path %>
