.form-ppt {
  background-color: #D4D702;
  width: 44%;
  margin: 0 auto;
  margin-top: 100px;
  padding: 38px;
  padding-right: 72px;
  padding-left: 72px;
  color: #48A161;
  border-radius: 8px;
  box-shadow: 4px 5px 17px -4px #000000;
}

.form-devise {
  background-color: #D4D702;
  width: 44%;
  max-height: 480px;
  margin: 0 auto;
  padding: 38px;
  padding-right: 72px;
  padding-left: 72px;
  color: #48A161;
  border-radius: 8px;
  box-shadow: 4px 5px 17px -4px #000000;
}

.forms {
  display: flex;
}
