.navbar-lewagon {
  justify-content: flex-end;
  background: #48A161;
  }

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar_photo {
  width: 80px;
  height: 80px;
  margin-right: 28px;
}

