.title {
  color: white;
  font-size: 48px;
  text-align: center;
}

.title-page {
  color: white;
  font-size: 48px;
  text-align: center;
  padding-top: 80px;
}

.title-medium {
  color: white;
  font-size: 36px;
  text-align: center;
  padding-top: 24px;
}
